<div>
    <div ng-include="'./Views/Partials/header.html'"></div>
    <div class="container-fluid">
        <div class="well">
            <!-- Default panel contents -->
            <h3>Why flipBRAIN?</h3>
            <p class="big-text">
                There is enormous amount of learning content available online in
                various forms such as videos, audio and ebooks. Most of such content
                is disorganized, but can be reused in different contexts.
            </p>
            <p class="big-text">
                <span style="color: #428bca">flip</span><span>BRAIN</span> aims to provide a platform for stitching
                <strong>learning trails</strong> from a combination of existing
                open learning material such as video lectures, e-books, e-quizzes etc.
                The term <strong>learning trails</strong> is taken from the
                concept of a <i>trail</i> in good old
                <a href="https://docs.oracle.com/javase/tutorial/" 
                   target="_blank">Java tutorial.</a>
            </p>
            <p class="big-text">
                At <span style="color: #428bca">flip</span><span>BRAIN</span> anyone can contribute and create a learning trail!
            </p>
            <h3>Comparison with similar solutions</h3>
            <ul class="big-text">
                <li><i>YouTube Playlists</i>
                    <ul>
                        <li>Provides only video comments; lacks learning oriented, searchable
                    discussion forums.</li>
                        <li>No quizzes or leaning assessment tools.</li>
                    </ul>
                </li>
                <li><i>Learning Management Systems (LMS)</i>
                    <ul>
                        <li>Most LMS platforms such as Sakai, Canvas, Moodle etc.
                            have features to support functionality which <span style="color: #428bca">flip</span><span>BRAIN</span> does.</li>
                        <li>In fact, an LMS is too complex a solution for the purpose of <span style="color: #428bca">flip</span><span>BRAIN</span>.</li>
                        <li>Typically deployed privately for accessing within a university.</li>
                        <li>Content is controlled tightly by the LMS host.</li>
                    </ul>
                </li>
                <li><i>KhanAcademy</i>
                    <ul>
                        <li>Tightly controlled content.</li>
                        <li>Very difficult to add arbitrary learning content and quizzes etc.</li>
                    </ul>
                </li>
                <li><i>MOOKIT</i>
                    <ul>
                        <li>Mainly geared for hosting MOOCs.</li>
                        <li>Content is controlled tightly by the MOOC provider.</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>